<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <header>
        <a href="/" class="logo">Mobile Reparing Service</a>
    </header>
    <section style="padding-top: 10rem; min-height: 60vh; text-align: center;">
        <h1 class="heading">Gallery</h1>
        <div id="galleryGrid" class="gallery-grid">
            <!-- Images will be loaded here by JS -->
        </div>
        <a href="/" class="btn" style="margin-top:2rem;">Back to Home</a>
    </section>

    <script src="/js/gallery.js"></script>
</body>
</html>
